{# loader is an instance of Twig_Loader_Filesystem via $config->twigloader #}
{% include 'sales-orders/sales-order/links-header.twig' with {'list': 'orders'} %}

{% include 'sales-orders/sales-order/sales-order-header.twig' %}

<h3 class="font-weight-bold text-secondary mt-4">Order Items</h3>

{% if loader.exists('sales-orders/sales-order/' ~ company ~ '/sales-order-items.twig') %}
	{% include 'sales-orders/sales-order/' ~ company ~ '/sales-order-items.twig' %}
{% else %}
	{% include 'sales-orders/sales-order/sales-order-items.twig' %}
{% endif %}

{% if user.can_editorder(order.ordernumber) %}
	<div class="row">
		<div class="col-6">
			<a href="{{ page.edit_orderURL(order.ordernumber) }}" class="btn btn-warning btn-block mb-5">
				<i class="fa fa-pencil" aria-hidden="true"></i> Edit
			</a>
		</div>
		<div class="col-6">
			<a href="{{ page.delete_orderURL(order.ordernumber) }}" class="btn btn-danger btn-block delete_button mb-5">
				<i class="fa fa-trash" aria-hidden="true"></i> Delete
			</a>
		</div>
	</div>


{% endif %}
